################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/personal_projects/FileContentIndex
/.vs/slnx.sqlite
